{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

<header>
    <nav>    
        <a href="/home"><img class="logo" src="{{ asset('/img/logo.png') }}"/></a>
        <a href="/about">A propos de nous</a>
        <a href="/services">Service</a>
        <a href="/contact">Contact</a>
    </nav>
</header>

<div class="contactForm">
    <form action="">
        <div class="form-group">
            <label for="email">Votre mail</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="textarea">Votre message</label>
            <textarea type="textarea" class="form-control" id="textarea"></textarea>
        </div>
        <button type="submit" class="submitbutton">Envoyer</button>
    </form>
</div>

<footer>
    <div class="footerSection">
        <h3>Nos coordonées</h3>
        <p>5 rue de la creperie, 80000 Amiens</p>
        <p>crepe.crepe@gmail.com</p>
    </div>
    <div class="footerSection">
        <h3>Nos réseaux</h3>
        <div class="socialmedia">
            <img src="{{asset('img/facebook.png')}}" alt="facebook">
            <img src="{{asset('img/instagram.png')}}" alt="instagram">
            <img src="{{asset('img/linkedin.png')}}" alt="linkedin">
        </div>
    </div>
</footer>
{% endblock %}
